@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* Containers */
.pProfileContainer {
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}

.personBasicInfoRow {
    background-color: #734cf9;
    height: 20vh;
}

.personBioRow {
    background-color: #734cf9;
    height: 80vh;

}

/* Headers */
.personProfileText{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;

}

/* Content */

.personCard {
    background-color: #edf2f4;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personContactCard {

    background-color: #edf2f4;
    max-width: 30%;
    margin: 30px;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personBioCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #edf2f4;
    max-width: 70%;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personAbout{
  background-color: #edf2f4;
  height: 60%;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.personSkills {
    background-color: #edf2f4;
    height: 40%;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;

}

.l1 {
    margin-top: 17em;
}

.personBioText {
    font-size: 20px;
    white-space: pre-line;
    margin-top: 10px;
} 

.personContactText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    white-space: pre-line;

}

.personName {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    
}

.personTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.personOrganization {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}
.personSelect {
    font-size: 18px;
}

.personContactButton {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}