@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.button {
  display: inline-block !important;
  background: #000 !important;
  min-height: 50px !important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}